@font-face {
    font-family: 'Jost';
    src: url('fonts/Jost.ttf') format('truetype');
}

@font-face {
    font-family: 'Shippori';
    src: url('fonts/Shippori.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --padding-default: 16px 32px;
    --margin-default: 40px 0;
    --paragraph-fontsize: 1.6rem;
    --paragraph-fontsize-mobile: 1.2rem;
    --h2-fontsize: 3rem;
    --color-primary: rgb(22, 208, 233);
    font-size: 16px;
}

*::selection {
    background: rgba(0, 0, 0, 0.558);
    color: rgb(161, 255, 249);
}

body {
    font-family: 'Jost', Arial;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overscroll-behavior: none;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1100px;
    gap: 4em;
}

a {
    text-decoration: none;
    color: white;
}

button, a {
    transition: all .2s ease;
}

@media (max-width: 1080px) {
    h2 {
        font-size: 2rem !important;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 1.5rem !important;
        text-align: start;
    }

    h3 {
        font-size: 1.2rem !important;
    }

    p, ol {
        font-size: 1rem !important;
    }
}